.uuid {
  font-size: 10px;
}

.comment-container {
  background-color: #f0f0f0;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.comment-content {
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 10px 0;
}

.comment-user {
  color: #37acc9;
}

.comment-date {
  font-size: 12px;
}

.add-on {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3px;
  margin-bottom: 3px;
}

.add-on div {
  padding: 0 10px 0 10px;
}

.like {
  background-color: #f0f0f0;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.like-button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.like-button:hover {
  background: red;
}

.reply-button {
  border: none;
  background: none;
  cursor: pointer;
}

.delete-button {
  margin-left: auto;
}

.replybox-container {
  display: flex;
}
.replybox-container div:first-child {
  padding: 8px;
}

.replylist-container {
  background-color: #f0f0f0;
  /* margin: 5px 5px 5px 30px; */
  width: 100%;
}

.reply-container {
  background-color: #f0f0f0;
  width: 100%;
}

.replylike {
  background-color: #f0f0f0;
  width: 80px;
  display: flex;
  justify-content: space-between;
}
