.comment-container {
  background-color: #ffd966;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.comment-content {
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 10px 0;
}

.comment-user {
  color: #37acc9;
}

.comment-date {
  font-size: 12px;
}

.add-on {
  background-color: #ffe699;
  display: flex;
  align-items: center;
}

.add-on div {
  padding: 0 10px 0 10px;
}

.like {
  background-color: #fff2cc;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.like-button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.like-button:hover {
  background: red;
}

.reply-button {
  border: none;
  background: none;
  cursor: pointer;
}

.replylist-container {
  background-color: rgb(196, 196, 196);
  margin: 5px 5px 5px 30px;
}

.reply-container {
  background-color: rgb(196, 196, 196);
}

.replylike {
  background-color: #fff2cc;
  width: 80px;
  display: flex;
  justify-content: space-between;
}
