.add-comment-container {
  background-color: #7f6000;
  display: flex;
  flex-direction: column;
  width: 80vh;
}

.comment-form {
  display: flex;
  width: 80vh;
}

.comment-form input {
  height: 50px;
  width: 100vh;
}

.comment-form button {
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4;
}

.reply-container {
  background-color: #7f6000;
  display: flex;
  flex-direction: column;
}

.CommentForm-container {
  background-color: #f0f0f0;
  height: 96px;
}

.list-container {
  margin-bottom: 100px;
  font-family: "Roboto", "Noto Sans KR", AppleSDGothicNeo-Regular, sans-serif;
}

.button-container {
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadMore-button {
  border: dashed 1px rgb(196, 196, 196);
  width: 100%;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(85, 85, 85);
}

.loadMore-button:hover {
  background-color: #c882ff;
  border: dashed 1px rgb(196, 196, 196);
  width: 100%;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(255, 255, 255);
}
