/* -------------------- */
/* Create Form Style   */
/* ------------------ */

#form-background {
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 70%;
  transition: all 0.5s linear;
}

#form-container {
  width: 850px;
  height: 700px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#create-header {
  display: flex;
  justify-items: flex-start;
}

#create-header div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  font-size: 26px;
  /* font-weight: 700; */
  font-family: "ubuntu", "san-serif";
  font-weight: bold;
  color: #6b6b6c;
}

.X-button {
  height: 30px;
  width: 30px;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  margin-left: auto;
}

.X-button:before,
.X-button:after {
  position: absolute;
  top: 0;
  left: 15px;
  content: "";
  height: 30px;
  width: 2px;
  background-color: rgb(66, 66, 66);
}

.X-button:before {
  transform: rotate(45deg);
}

.X-button:after {
  transform: rotate(-45deg);
}

.X-button:hover {
  background-color: rgb(0, 80, 0);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.ta {
  background-color: #fff;
  border: 0;
  border-bottom: solid 1px #c3c8cc;
  width: 100%;
  outline: none;
  font-size: 30px;
  font-weight: bold;
  color: #4c4c4c;
  font-family: "Ubuntu", sans-serif;
}

.title.ta {
  height: 80px;
  font-size: 48px;
}

.createdBy.ta {
  font-size: 18px;
  height: 50px;
}

.contents.ta {
  height: 250px;
  font-size: 20px;
  font-family: "Nanum Gothic", sans-serif;
  resize: none;
}
.title.ta::placeholder {
  color: #b1b1b1;
  font-size: 32px;
  font-weight: 500;
}

.createdBy.ta::placeholder {
  color: #b1b1b1;
  font-size: 18px;
  font-weight: 500;
}

.contents.ta::placeholder {
  color: #b1b1b1;
  font-size: 18px;
  font-weight: 500;
}

.createdBy {
  margin-bottom: 5px;
}

/* .contents {
  margin: 5px;
} */

.button-form {
  border: 0;
  font-size: 16px;
  font-weight: 700;
  color: #4c4c4c;
  font-family: "Nanum Gothic", sans-serif;
}

#save-container .button-form {
  width: 80px;
  height: 45px;
  position: absolute;
  margin-left: auto;
  bottom: 0;
  right: 0;
}

.button-form:hover {
  background-color: rgb(0, 80, 0);
  color: white;
}

#save-container {
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  bottom: 0;
}

/* -------------------- */
/* Hash Tag Style      */
/* ------------------ */

.hashtag-container {
  background-color: #005000;
  margin-top: 10px;
}

.ta-hashtag {
  background-color: #ffffff;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  border: 2px;
  border-color: #f0f0f0;
  /* height: 40px; */
  padding: 10px 0 10px 10px;
  border-radius: 10px;
}

.ta-hashtag::placeholder {
  color: #b1b1b1;
}

.ta-hashtag:focus {
  outline-style: double;
  outline-color: #ccc;
  border: 1px;
  border-color: #ccc;
}

.hashtag-list {
  background-color: white;
  list-style-type: none;
  display: flex;
}

.hash div {
  background-color: #005000;
  color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  height: 20px;
}

.hash .close {
  /* border: none; */
  /* background-color: blue; */
  border-style: none;
  margin-left: 5px;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  position: relative;
  top: 2px;
}

.hash .close:hover {
  background-color: orange;
}

.hashtag-list p {
  margin: 0;
  color: white;
}

.dnanfwjd {
  color: #005000;
  position: relative;
}

.dnanfwjd path {
  fill: rgb(255, 255, 255);
}

/* Close Modal PopUp */

.pop-up.container {
  height: 150px;
  width: 300px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 30px #ddd;
  border: solid 1px #ccc;
}

#closeQ {
  position: relative;
  top: 20px;
  font-size: 20px;
  display: inline-block;
  left: 20px;
}

.button-container.close {
  width: 100%;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}

.select {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

.select:first-child {
  border: 0;
  background-color: transparent;
}
.select:first-child:hover {
  background-color: #005000;
  color: white;
}
.select:nth-child(2) {
  border: 0;
  background-color: #f0f0f0;
}

.select:nth-child(2):hover {
  background-color: #005000;
  color: white;
}
