.header {
  display: flex;
  height: 40px;
  justify-content: space-between;
  background-color: #222;
  color: white;
}

h3.Board-title {
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.Board-title {
  padding: 0 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.nav-Logo {
  background-color: white;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  width: 100px;
  padding: 24px 0;
}

.navbar {
  background-color: blue;
  padding: 5px;
  display: flex;
  height: 80px;
}

.nav-list {
  background-color: blueviolet;
  padding: 5px;
  list-style: none;
  display: flex;
  margin: 3px;
}

.nav-item {
  background-color: orange;
  padding: 2px;
  margin: 2px;
  padding: 20px 0;
  width: 60px;
  text-align: center;
  justify-content: center;
}
