.content-container {
  display: flex;
  background-color: #f6f6f8;
  height: 80vh;
  margin: 10px 0 10px 0;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  padding: 10px;
}

.Component-container {
  height: 500px;
}

.Component-container.Board {
  width: 750px;
}

.Component-container.Board p {
  margin: 10px 0 10px 0;
}

.Board-name {
  font-size: 20px;
  margin: 5px;
}

.Component-container.Chart {
  width: 420px;
  height: 500px;
  /* position: relative; */
  /* width: 500px; */
  /* width: 100%; */
  /* left: 30px; */
}

.article-container.Chart {
  height: 500px;
  width: 100%;
  /* padding: 10px; */
  box-shadow: 10px 10px 30px #dddddd;
  border-radius: 5px;
  border: solid 1px #e5e5e5;
}

.chart {
  /* margin: 10px 10px 10px 10px; */
  /* background-color: white; */
  /* width: 100%;
  height: 100%; */
}
