* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Nanum Gothic", sans-serif;
  font-weight: bold;
  color: #333;
}

.wrapped {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* width가 1200px보다 클 때 적용되는 CSS */
@media screen and (min-width: 1200px) {
  .wrapped {
    /* background-color: orange; */
  }

  .Navbar-Area {
    /* position: fixed; */
    margin-left: auto;
    margin-right: auto;
  }
}

#body-container {
  min-height: 811px;
  background-color: #f6f6f8;
}
