* {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', 'Nanum Gothic', sans-serif;
  font-weight: bold;
  color: #333;
}

.wrapped {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .wrapped {
  }
}

#body-container {
  min-height: 811px;
  background-color: #f6f6f8;
}
