* {
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
}

.wrapped {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .wrapped {
  }
}

#body-container {
  min-height: 811px;
}
